<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Graphic Embed : Mashable</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
    /*
 * Base structure
 */
    /* Move down content because we have a fixed navbar that is 50px tall */
    
    body {
        padding-top: 50px;
    }
    /*
 * Global add-ons
 */
    
    .sub-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
    /*
 * Top navigation
 * Hide default border to remove 1px line.
 */
    
    .navbar-fixed-top {
        border: 0;
    }
    /*
 * Sidebar
 */
    /* Hide for mobile, show later */
    
    .sidebar {
        display: none;
    }
    
    @media (min-width: 768px) {
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            /* Scrollable contents if viewport is shorter than content. */
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }
    }
    /* Sidebar navigation */
    
    .nav-sidebar {
        margin-right: -21px;
        /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }
    
    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }
    /*
 * Main content
 */
    
    .main {
        padding: 20px;
    }
    
    @media (min-width: 768px) {
        .main {
            padding-right: 40px;
            padding-left: 40px;
        }
    }
    
    .main .page-header {
        margin-top: 0;
    }
    /*
 * Placeholder dashboard ideas
 */
    
    .placeholders {
        margin-bottom: 30px;
        text-align: center;
    }
    
    .placeholders h4 {
        margin-bottom: 0;
    }
    
    .placeholder {
        margin-bottom: 20px;
    }
    
    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="//rack.3.mshcdn.com/assets/header_logo.v2.us-30574d105ad07318345ec8f1a85a3efa.png" style="height: 1.25em;"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-question-circle fa-fw"></i> Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard <span class="sr-only">(current)</span></a></li>
                </ul>
                Templates
                <ul class="nav nav-sidebar">
                    {% for template in templates %}
                    <li><a href="/templates/{{ template }}/?refresh=1">{{ template }}</a></li>
                    {% endfor %}
                </ul>
                Graphics
                <ul class="nav nav-sidebar">
                    {% for graphic in graphics %}
                    <li><a href="/graphics/{{ graphic }}/?refresh=1" target="_blank">{{ graphic }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">MashGraphics</h1>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Welcome to MashGraphics! Let’s get started.</h3>
                        <p>Mashgraphics (based on NPR’s <a href="//github.com/nprapps/dailygraphics">dailygraphics</a>) is a framework for creating and deploying responsive graphics suitable for publishing inside a CMS with <a href="//github.com/nprapps/pym.js">pym.js</a>. The MashGraphics rig offers a workflow and some automated machinery for creating, deploying and embedding short-turnaround charts, tables and other graphics for daily stories.</p>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>How do I make a graphic?</h3>
                        <p>Mashgraphics includes starter code for a few different types of graphics (and we’re slowly adding more as we go). Running any of these commands will create the folder $SLUG within your <code>app_config.GRAPHICS_PATH</code> folder. Within the new folder will be a <code>child_template.html</code> file and some boilerplate javascript files. <code>child_template.html</code> is a Jinja template that will be rendered with a context containing the contents of <code>app_config.py</code>, <code>graphic_config.py</code> and the COPY document for that graphic. It also will clone a new Google Spreadsheet for you to use for text and data. Build out your graphic in <code>child_template.html</code>, and put your javascript in <code>js/graphic.js</code>.</p>
                        <ol>
                        <li>Setting up your graphic</li>
                            <ol>
                                <li><a href="#slug">Choose a slug</a></li>
                                <li><a href="#generate">Generate a graphic</a></li>
                                <li><a href="#data">Enter your data</a></li>
                            </ol>
                        <li>Publishing your graphic</li>
                        <ol>
                                <li><a href="#deploy">Deploying your graphic</a></li>
                                <li><a href="#embed">Embedding your graphic</a></li>
                            </ol>
                        <li>Misc</li>
                            <ol>
                                <li><a href="#templates">Graphic templates</a></li>
                            </ol>
                        </ol>
                <a name="workspace"></a><div class="row"><div class="col-md-12">
                <h3>Your Workspace</h3>
                    <p>If you’re reading this, you (or someone) has already downloaded and launched MashGraphics to and from your local computer.</p>
                    <p>But to start creating your own graphics, you’re going to need to learn to use the Terminal a little bit. If you’ve never used the Terminal or a command line before, read <strong>Terminal 101</strong>. If you already know your way around a shell prompt, <code>cd</code> into <code>mashgraphics</code> and skip to Step 5 under <strong>Launching MashGraphics</strong>.</p>
                    <h4>Terminal 101</h4>
                    <ol>
                            <li>Use <kbd>cmd + space</kbd> to open Spotlight Search and find the Terminal application (if you can’t find it with Spotlight, it’s in <code>/Applications/Utilities/Terminal.app</code>).</li>
                            <li>By default, the Terminal will open to your Home directory (<code>/Users/YourName</code>). Let’s switch to your Desktop.</li>
                            <li>Type <code>cd Desk</code>, then hit <kbd>tab</kbd> (the Terminal will recognize that you’re looking for the Desktop folder and auto-complete the command for you), then hit <kbd>return</kbd>.</li>
                            <li>Now type in <code>ls</code> and hit <kbd>return</kbd>.</li>
                            <li>You should get a list of all the files on your Desktop.</li>
                            <li><code>cd</code> and <code>ls</code> are “commands” (“change directory” and “list directory contents”, respectively). You basically <em>command</em>ed the computer to <em>change directories</em> (<code>cd</code>) into your Desktop folder, and then <em>command</em> it to <em>list</em> (<code>ls</code>) the current directory’s contents. This is the gist of what the Terminal does—you type in commands to make the computer do things, like navigate the folders on your hard drive.
                            <p><span class="label label-default">Note</span> If you ever want to see what directory you’re currently in, run <code>pwd</code> (“print working directory”). You can also do <code>open .</code> to <em>open</em> the current directory with the Finder.</p></li>
                    </ol>
                    <h4>Launching MashGraphics</h4>
                        <ol>
                            <li>Open a fresh Terminal window. If it’s already running, you can use <kbd>cmd + N</kbd>.</li>
                            <li>To launch and start using MashGraphics, you’ll need to <code>cd</code> into the <code>mashgraphics</code> directory. It should have been installed into the <code>Applications</code> folder within your <code>Home</code> directory.</li>
                            <li>To get there using the Terminal, run <code>cd ~/Applications/mashgraphics</code>.</li>
                            <li>Your prompt should look like this:
<p><pre>JohnDoes-MacBook-Pro:mashgraphics John$ _</pre></p></li>
                            <li>Now run <code>fab app</code>. You should get:
<p><pre>JohnDoes-MacBook-Pro:mashgraphics John$ fab app
[localhost] local: gunicorn -b 0.0.0.0:8000 --timeout 3600 --debug --reload app:wsgi_app
>_</pre></p>
                            <p>Congratulations! You just launched MashGraphics all on your own and it’s running normally on your local computer.</p></li>
                        <li>Since this shell is busy running the MashApps software, you’ll need to open a second one to make graphics. Do this by opening a new Terminal tab using <kbd>cmd + T</kbd>.</li>
                        <li>The new tab should show something like this:
<p><pre>JohnDoes-MacBook-Pro:mashgraphics John$ _</pre></p></li>
                        <li>From here on out, any time the instructions say to run a command in a terminal, do it in this tab.</li>
                        <li>Finally, open a browser window and go to <code>localhost:8000</code>
                    </ol>
                </div></div>
                <a name="slug"></a><div class="row"><div class="col-md-12">
                        <h3>Setting Up Your Graphic</h3>
                        <h4> 1. Choose a slug</h4>
                        <p>A <code>$SLUG</code> is the name of your graphic. Its format should be the date (<code>YYYY-MM-DD</code>), followed by a short, descriptive name for your project, like <code>gay-marriage-map</code> or <code>poverty-chart</code>. Keep it URL-safe (i.e., Lowercase, dashes instead of spaces, and no special characters).</p>
                        <p>Here are some examples:</p>
                        <ul class="fa-ul">
                            <li><code>2015-07-31-my-project-name</code> <span class="label label-success">YAAAS!</span></li>
                            <li><code>2015 07 31 my project name</code> <span class="label label-danger">No</span></li>
                            <li><code>20150731-my-project-name</code> <span class="label label-danger">Bad</span></li>
                            <li><code>2015-07-31-My-Project-NAME</code> <span class="label label-danger">Danger, Will Robinson</span></li>
                            <li><code>2015 07 31 my wonderful project!</code> <span class="label label-danger">Are you F-ing kidding me?</span></li>
                        </ul>
                    </div></div>
                <a name="generate"></a><div class="row"><div class="col-md-12">
                        <h4>2. Generate a graphic</h4>
                        <p>Next you’ll generate your graphic using a built-in tool called Fabric, or <code>fab</code>.</p>
                        <ol>
                        <li>Choose what kind of graphic you need to make (regular graphic, bar chart, column chart, line chart, etc.).
                         <p><span class="label label-default">Templates</span> See <a href="#templates">here</a> to see what kinds of graphic templates are available and to look up their respective <code>fab</code> commands.</p></li>
                        <li>Run the corresponding <code>fab</code> command in your terminal.
                        <p><span class="label label-danger">Heads up!</span> Remember to replace <code>$SLUG</code> with the slug you chose in Step 1. For example, if you want to make a dot chart slugged <code>2015-07-31-my-project-name</code>, you would run: <code>fab add_dot_chart:2015-07-31-my-project-name</code>.</p></li>
                        <li><p>Your terminal should spit out the following:</p>
                <pre>
$ fab add_dot_chart:2015-07-31-my-project-name
[localhost] local: cp -r graphic_templates/_base ~/mashgraphics/graphics/2015-07-31-my-project-name
[localhost] local: cp -r graphic_templates/dot_chart/* ~/mashgraphics/graphics/2015-07-31-my-project-name
Creating spreadsheet...
New spreadsheet created successfully!
View it online at https://docs.google.com/spreadsheet/ccc?key=1tjL_dVh59j4-RxAR9aUXC27cLLl6q48my34hgY_ukgU#gid=1
Run `fab app` and visit http://127.0.0.1:8000/graphics/2015-07-31-my-project-name to view

Done.</pre></li>
</div></div>
                <a name="data"></a><div class="row"><div class="col-md-12">
                    <h4>3. Enter your data</h4>
                    <ol>
                    <li>To enter your data, refresh this page; A link to your graphic will appear in the column on the left. Click on it to open your graphic.</li>
                    <style>
                    .btn {
                        font-size: 12px;
                        line-height: 28px;
                        margin: 0;
                        padding: 0 11px;
                        border-radius: 4px;
                        background-color: #f7f7f7;
                        font-weight: bold;
                        -webkit-font-smoothing: antialiased;
                    }

                    .btn:hover,
                    .btn:active {
                        background-color: #f7f7f7;
                    }

                    .spreadsheet,
                    .spreadsheet,
                    .spreadsheet:hover {
                        color: #0F9D58;
                    }
                    .staging,
                    .staging,
                    .staging:hover {
                        color: orange;
                    }
                    .production,
                    .production,
                    .production:hover {
                        color: red;
                    }
                    </style>
                    <li>On your graphic’s page, click on the <span class="btn spreadsheet"><i class="fa fa-table fa-fw"></i> spreadsheet &raquo;</span> button.</li>
                    <li>A Google spreadsheet should open in a new tab/window. The specifics will vary depending on what kind of graphic or chart you generated, but most graphics should have two sheets: <code>labels</code> and <code>data</code>.
                    </li>
                    <li>On the <code>labels</code> sheet, edit the values for <code>headline</code>, <code>subhed</code>, <code>footnote</code>, <code>source</code>, and <code>credit</code> as necessary.</li>
                    <li>On the <code>data</code> sheet, enter the data you want to include in your graphic.</li>
                    <li>Refresh your graphic page.
                    <p><span class="label label-warning">Heads up!</span> If you’ve followed these instructions to the letter, you shouldn’t be having any problems. But if the changes to your Google sheet aren’t showing up, try running <code>fab update_copy:$SLUG</code> in your terminal <strong>OR</strong> visiting <code>http://127.0.0.1:8000/graphics/$SLUG/?refresh=1</code>.</p></li>
                    <li>Click on the 
                    <span class="btn"><i class="fa fa-outdent fa-fw"></i> Sidebar (180px)</span>, 
                    <span class="btn"><i class="fa fa-mobile fa-fw"></i> Mobile (300px)</span>, 
                    <span class="btn"><i class="fa fa-desktop fa-fw"></i> Desktop (730px)</span>, and 
                    <span class="btn"><i class="fa fa-search-plus fa-fw"></i> Fluid (100%)</span> buttons to preview how your graphic will appear on different platforms.</li>
                    </ol>
                </div></div>

               <a name="deploy"></a><div class="row"><div class="col-md-12">
                     <h3>Publishing Your Graphic</h3>
                     <h4>4. Deploying your graphic</h4>
                        <p>“Deploying” a graphic (or moving it from your computer to the Internet) is essentially a two-part process. First, you’ll need to “stage” your graphic, which means uploading it to a hidden server on the Internet, known as a “staging environment,” for final testing.</p>
                        <p>When you’re satisfied with your staged graphic, you can deploy it to a public server (known as a “production environment”). This is the version that you will embed into your story.</p>
                        <p>
                            <ol>
                                <li>To stage your graphic, run <code>fab staging deploy:$SLUG</code> in your terminal.</li>

                                <li>Your terminal should spit out a bunch of stuff, ending with something like this:
<pre>
Staging URL: http://mashable-your-name-stage.s3-website-us-east-1.amazonaws.com/mashgraphics/graphics/$SLUG/

Done.
</pre>
                                </li>
                                <li>In your browser, on your graphic’s page, click on the <span class="btn staging"><i class="fa fa-cubes fa-fw"></i> staging &raquo;</span> button. It should open a new, “staging” tab/window.</li>
                                <li>If everything looks good, run <code>fab production deploy:$SLUG</code> in your terminal.</li>
                                <li>You should get:
<pre>
Production URL: http://mashable-your-name-apps.s3-website-us-east-1.amazonaws.com/mashgraphics/graphics/$SLUG/

Done.
</pre>
                                <li>In your browser, on your graphic’s page, click on the <span class="btn production"><i class="fa fa-cubes fa-fw"></i> production &raquo;</span> button. This time, it should open a “production” tab/window.</li>
                            </ol>
                </div></div>
                <a name="embed"></a><div class="row"><div class="col-md-12">
                    <h4>5. Embedding your graphic</h4>
                    <ol>
                        <li>On your graphic’s <span class="btn production"><i class="fa fa-cubes fa-fw"></i> production</span> page, there should be an iframe with your graphic inside of it, and an embed code below the graphic.</li>
                        <li>Copy and paste the embed code into your WordPress shell.</li>
                    </ol>
                </div></div>

                <a name="templates"></a><div class="row"><div class="col-md-12">
                        <h4>Graphic templates</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Type</th>
                                    <th>Fab command</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img alt="Basic graphic" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/graphic.png" /></td>
                                    <td>Very basic new graphic</td>
                                    <td><code>fab add_graphic:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Bar chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/bar-chart.png" /></td>
                                    <td>Bar chart</td>
                                    <td><code>fab add_bar_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Grouped bar chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/grouped-bar-chart.png" /></td>
                                    <td>Grouped bar chart</td>
                                    <td><code>fab add_grouped_bar_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Stacked bar chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/stacked-bar-chart.png" /></td>
                                    <td>Stacked bar chart</td>
                                    <td><code>fab add_stacked_bar_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Column chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/column-chart.png" /></td>
                                    <td>Column chart</td>
                                    <td><code>fab add_column_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Stacked column chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/stacked-column-chart.png" /></td>
                                    <td>Stacked column chart</td>
                                    <td><code>fab add_stacked_column_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Block histogram" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/block-histogram.png" /></td>
                                    <td>Block histogram</td>
                                    <td><code>fab add_block_histogram:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Line chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/line-chart.png" /></td>
                                    <td>Line chart</td>
                                    <td><code>fab add_line_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Slopegraph" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/slopegraph.png" /></td>
                                    <td>Slopegraph</td>
                                    <td><code>fab add_slopegraph:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Dot chart" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/dot-chart.png" /></td>
                                    <td>Dot chart</td>
                                    <td><code>fab add_dot_chart:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Locator map" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/locator-map.png" /></td>
                                    <td><a href="#creating-locator-maps">Locator map</a></td>
                                    <td><code>fab add_map:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="State grid map" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/state-grid-map.png" /></td>
                                    <td>State grid map</td>
                                    <td><code>fab add_state_grid_map:$SLUG</code></td>
                                </tr>
                                <tr>
                                    <td><img alt="Table" src="https://raw.githubusercontent.com/nprapps/dailygraphics/master/graphic_templates/_thumbs/table.png" /></td>
                                    <td>Responsive HTML table</td>
                                    <td><code>fab add_table:$SLUG</code></td>
                                </tr>
                            </tbody>
                        </table>
                </div></div>



                <h4 class="sub-header">There are <strong>{{ graphics_count }}</strong> graphics:</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Slug</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for graphic in graphics %}
                            <tr>
                                <td><a href="/graphics/{{ graphic }}/?refresh=1">{{ graphic }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

</html>
